<?xml version="1.0"?>

<robot name="realsense_cameras" xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="base_link"/>

  <!-- d435i frame definition can be found at https://github.com/IntelRealSense/librealsense/blob/master/doc/d435i.md -->
  <xacro:include filename="$(find realsense_gazebo_description)/urdf/_d435i.urdf.xacro"/>
  <xacro:sensor_d435i parent="base_link" name="D435i_camera" topics_ns="D435i_camera" align_depth="true" visualize_color="true" enable_pointCloud="true">
    <origin xyz="0.0 0.5 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:sensor_d435i>

  <!-- add a cone, just to have something to see -->
  <joint name="cone_joint" type="fixed">
          <parent link="base_link"/>
          <child link="cone_link"/>
          <origin xyz="4 0 0" rpy="0 0 0"/>
  </joint>
  <link name='cone_link'>
    <visual>
      <geometry>
        <!-- <mesh filename="model://construction_cone/meshes/construction_cone.dae" scale="10 10 10"/> -->
        <!-- export GAZEBO_MODEL_PATH=/home/user/.gazebo/models -->
        <mesh filename="file://$(env GAZEBO_MODEL_PATH)/construction_cone/meshes/construction_cone.dae" scale="10 10 10"/>
      </geometry>
    </visual>
  </link>

</robot>
