<launch>

    <!-- arguments for the urdf xacro file -->
    <arg name="model_name"  default="camera_belt"/>
    <arg name="model"       default="$(find realsense_gazebo_description)/urdf/camera_belt.urdf.xacro"/>

    <arg name="world_name"      default="worlds/empty.world"/>  <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
    <arg name="paused"          default="false"/>
    <arg name="use_sim_time"    default="true"/>
    <arg name="gui"             default="true"/>
    <arg name="headless"        default="false"/>
    <arg name="recording"       default="false"/>
    <arg name="debug"           default="false"/>

    <arg name="x"   default="0.0"/>
    <arg name="y"   default="0.0"/>
    <arg name="z"   default="0.0"/>
    <arg name="yaw" default="0.0"/>
    
    <arg name="rviz_config" default="$(find realsense_gazebo_description)/rviz/urdf.rviz"/>

    <!-- Gazebo Visualization: Start Gazebo empty_world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name"      value="$(arg world_name)"/>
        <arg name="paused"          value="$(arg paused)"/>
        <arg name="use_sim_time"    value="$(arg use_sim_time)"/>
        <arg name="gui"             value="$(arg gui)"/>
        <arg name="recording"       value="$(arg recording)"/>
        <arg name="debug"           value="$(arg debug)"/>
    </include>

    <!-- Spawn Camera -->
    <param name="robot_description" command="$(find xacro)/xacro '$(arg model)'"/>
    <node name="spawn_multicamera_model" pkg="gazebo_ros" type="spawn_model" machine=""
        args="-x $(arg x)
                -y $(arg y)
                -z $(arg z)
                -Y $(arg yaw)
                -unpause
                -urdf
                -param robot_description
                -model $(arg model_name)"/>

  
    <!-- State Publisher -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model) use_nominal_extrinsics:=true add_plug:=true" />
    <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="30.0" />
    </node>

    <!-- Rviz Visualization -->
    <param name="use_gui" value="$(arg gui)" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find realsense_gazebo_description)/rviz/urdf.rviz" required="true" />

</launch>