<?xml version="1.0"?>
<!-- This is the Gazebo URDF model for the Intel RealSense D435 camera -->

<launch>
    <arg name="model_name"  default="d435i"/>
    <arg name="model"       default="$(find realsense_gazebo_description)/urdf/singlecamera_d435i.urdf.xacro"/>
    <!-- <arg name="model"  default="$(find realsense_gazebo_description)/urdf/multicamera.urdf.xacro"/> -->

    <arg name="world_name"      default="worlds/empty.world"/>  <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
    <arg name="paused"          default="false"/>
    <arg name="use_sim_time"    default="true"/>
    <arg name="gui"             default="true"/>
    <arg name="headless"        default="false"/>
    <arg name="recording"       default="false"/>
    <arg name="debug"           default="false"/>

    <arg name="x"   default="0.0"/>
    <arg name="y"   default="0.0"/>
    <arg name="z"   default="0.0"/>
    <arg name="yaw" default="0.0"/>
    

    <!-- state publishers -->
    <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->

</launch>
